<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="conexion"
			 connectionString="Data Source=DESKTOP-8ABUPTN\SQLEXPRESS;Initial Catalog=TecnicosUH;Integrated Security=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<system.web>
		<!-- Compilación en modo depuración y target framework -->
		<compilation debug="true" targetFramework="4.7.2" />

		<!-- Compatibilidad con validación antigua (si lo necesitas) -->
		<httpRuntime targetFramework="4.7.2" requestValidationMode="2.0" />

		<!-- Desactiva validación global de formularios -->
		<pages validateRequest="false" />
	</system.web>

	<system.webServer>
		<defaultDocument>
			<files>
				<!-- Cambia esta línea si tu página de inicio es otra -->
				<add value="FrmTecnico.aspx" />
			</files>
		</defaultDocument>
	</system.webServer>
</configuration>




